MQTT_BROKER_URL=ssl://SEU_HOST.hivemq.cloud:8883
MQTT_USERNAME=seu_usuario
MQTT_PASSWORD=sua_senha
MQTT_TOPIC_COMMANDS=irrigahome/commands
MQTT_RETAIN_MESSAGES=false
MQTT_CLIENT_ID=irrigahome-fn-test
